.logo{
  @include text-hidden;
  background-image: url(../images/logo2.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  @include pad{
    background-image: url(../images/logo.svg);
    width: 175px;
    height: 42px;
  }
}
a:hover{
  color: $primary;
}

.gradient-x{
  @include gradient-x;
}
.text-gradient-y{
  @include gradient-y;
  background-clip: text;
  color: transparent;
}

.gradient-x-2{
  @include gradient-x;
  height: 2px;
}
.text-gray-600{
  color: $gray-600;
}
.lh-19{
  line-height: 19px;
}
.navbar::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 72px;
  background-image: linear-gradient(90deg,$primary 50%,$secondary 50%);
  @include pad{
    top: 90px;
  }
}